### Python Basics

1. Data types

2. Variables

3. Expression

4. String Operations

### Data types

1. Numbers

2. Strings

3. Boolean

### Numbers

In [2]:
# Integer

50

10

In [3]:
# Floating point 

40.78

40.78

In [4]:
# Complex Number 

2 + 5j

(2+5j)

### Number type Conversion

In [5]:
int(7.89)

7

In [6]:
float(56)

56.0

In [8]:
complex(8,7)

(8+7j)

### String

In [13]:
"50"

'50'

In [14]:
# string by single quote

'Only strong birds fly in the storm'

'Only strong birds fly in the storm'

In [12]:
# string by double quote

"live little things"

'live little things'

### Boolean

In [15]:
True

True

In [16]:
False

False

## Variables

1. Variables are containers for storing data values

2. To create a variable ,you simply need to assign a value to a name using the assignment operator (=)

## Rules for python variable

1. variable names in python have to start with a letter or an underscore
2. They cannot start with a number
3. They can't include any special characters except underscore
4. variable names are case sensitive
(age , AGE are different variable)

## Expressions

### Arithmetic Expression

#### 1. Addition

In [19]:
40 - 30

10

#### 2. Subtraction

In [20]:
50 - 30

20

#### 3. Multiplication

In [21]:
9 * 9

81

#### 4. Division

In [22]:
40 / 2

20.0

#### 5. Modulas

In [23]:
25 % 3

1

#### 6. Exponentiation

In [24]:
3 ** 4

81

#### 7. Floor Division

In [25]:
30 // 3

10

### Relational Expression

#### 1. Equal to

In [26]:
10 == 10

True

#### 2. Not Equal to

In [29]:
7 != 7

False

#### 3. Greater than

In [30]:
50 > 25

True

#### 4. Less than

In [31]:
30 < 70

True

#### 5. Greater than or equal to

In [32]:
60 >= 40

True

#### 6. Less than or equal to

In [34]:
50 <= 40

False

### Assignment Expression

In [39]:
x = 0
x = x + 1 
x += 1
x

2

In [42]:
x = 3
x = x -1
x -= 1
x

1

In [43]:
x = 4
x = x * 4
x *= 4
x

64

In [44]:
x = 125
x = x / 5
x /= 5
x

5.0

In [45]:
x = 56
x = x % 5
x %= 5
x

1

### Logical Expression

AND - both the values true means true , otherwise False

OR - both the values false means false , otherwise True

NOT - opposite of the another value , True means False

### AND Operation

In [1]:
print(True and True)

True

### OR Operation

In [2]:
print(False or False)

False

### NOT Operation

In [3]:
print(not True)

False

### Identity Expression

In [62]:
x = 9
y = 9

print(x is y)
print(x is not y)

True
False

### Membership Expression

In [63]:
x = 9
y = [9,6]

print(x in y)
print(x not in y)

True
False

## String Operations

### To find the length of the string

In [42]:
quote = "life tip,stop expecting"

res = len(quote)

print(res)

23

### Indexing of the string 

1. It starts with a 0 for first character

2. Last character represents as -1 index

In [1]:
feel = "Feelings hit you differently at a night"

print(feel[9])

h

### String slicing

In [3]:
positive = "big things happen , little by little"

print(positive[0:18])

print(positive[:11])

print(positive[20:])

print(positive[:])

big things happen
big things
little by little
big things happen , little by little

### String Concatenation

In [4]:
less = "Think a little less"
more = " Live a little more"

print(less + more)

Think a little less Live a little more

### String Format

1. we cannot combine strings and numbers 

2. Using the format method it is possible

3. placeholders should be the {}

In [5]:
age = 21

print(f"What is your age? {age}")

What is your age? 21

In [6]:
print("What is your name? {name}".format(name = "Karthik"))

What is your name? Karthik

### Find the index of the character

In [84]:
offer = "life is a one time offer"

res = offer.index("o")

print(res)

10

### To count the substring in a string

In [85]:
msg = "My Life is My message"

res = msg.count("Life")

print(res)

1

### To Capitalize the string

In [1]:
msg = "trust the timing of your life!"

print(msg.capitalize())

Trust the timing of your life!

### Uppercase the string

In [88]:
msg = "Life is a one time offer , Use it well!"

print(msg.upper())

LIFE IS A ONE TIME OFFER , USE IT WELL!

### Lowercase the string

In [89]:
msg = "None are so brave as the anonymous"

print(msg.lower())

none are so brave as the anonymous

### Replace the string

In [90]:
msg = "we grow through what we go through"

res = msg.replace("we","I")

print(res)

I grow through what I go through

In [92]:
msg = "Believe you can and you are halfway there"

res = msg.replace("you","we",1)

print(res)

Believe we can and you are halfway there

### Split the string

In [93]:
msg = "The best revenge is massive success"

res = msg.split()

print(res)

['The', 'best', 'revenge', 'is', 'massive', 'success']

In [94]:
msg = "If you fell down yesterday , stand up today"

res = msg.split(", ")

print(res)

['If you fell down yesterday ', 'stand up today']

### To Find the string

In [95]:
msg = "If you can dream it , you can do it"

res = msg.find("y")

print(res)

3

### To strip the string

In [97]:
msg = ",......... hello ...,,.,,..."

res = msg.strip(",.")

print(res)

 hello

## Python Data Structures

1. List

2. Tuple

3. Set

4. Dictionary

## Lists

1. A list is a collection of items enclosed in square brackets [ ]

2. lists are ordered and can be of any type (eg. integers and strings etc)

3. lists are mutable , items can be modified after they are created

### A range of index

In [98]:
li = ['apple','banana','cherry','pineapple','strawberry']

print(li[2:])

['cherry', 'pineapple', 'strawberry']

### Change items present in list

In [99]:
msg = ["potato",'tomato','brinjal','radish']
    
msg[2] = 'garlic'

print(msg)

['potato', 'tomato', 'garlic', 'radish']

### Insert items in list

In [102]:
company = ['TCS','wipro','cognizant','capgemini','apple','google']

company.insert(1,"IBM")

print(company)

['TCS', 'IBM', 'wipro', 'cognizant', 'capgemini', 'apple', 'google']

### Append in the list

In [103]:
apps = ['insta','facebook','whatsapp','inshot','gmail']

apps.append('Teams')

print(apps)

['insta', 'facebook', 'whatsapp', 'inshot', 'gmail', 'Teams']

### Extend in the List

In [2]:
x = ['apple','orange','banana']

y = ['kiwi','pineapple','strawberry']

x.extend(y)

print(x)

['apple', 'orange', 'banana', 'kiwi', 'pineapple', 'strawberry']

### Remove in the list

In [3]:
li = ['apple','orange','banana']

li.remove('apple')

print(li)

['orange', 'banana']

### Pop in the list

In [2]:
x = ['apple','orange','banana']

# mention the index number instead of name

x.pop(2)

print(x)

['apple', 'orange']

### Clear in the list

In [5]:
x = ['apple','orange','banana']

x.clear()

print(x)

[]

### Sorting List

In [6]:
x = ['orange','watermelon','banana','apple']

x.sort()

print(x)

['apple', 'banana', 'orange', 'watermelon']

### Descending List

In [7]:
x = ['orange','watermelon','banana','apple']

x.sort(reverse = True)

print(x)

['watermelon', 'orange', 'banana', 'apple']

### Copy the List

In [12]:
x = ['orange','banana','apple']

y = x.copy()

print(y)

['orange', 'banana', 'apple']

## Tuple

x = ('apple','orange','banana')

1. Tuple is a collection of items enclosed in parenthesis ()

2. Like lists, tuples are ordered and can be of any type

3. However, tuples are immutable , which means that their items cannot be modified after they are created.

### Accessing items in tuple

In [3]:
x = ('apple','orange','banana')

print(x[0])

print(x[1])

print(x[2])

apple
orange
banana

### Access a range of index

In [4]:
x = ('apple','orange','banana','kiwi','strawberry')

print(x[1:])

('orange', 'banana', 'kiwi', 'strawberry')

### Tuple is immutable

So we are converted into an list

In [7]:
x = ('apple','orange','banana')

y = list(x)

y[0] = 'mango fruit'

x = tuple(y)

print(x)

('mango fruit', 'orange', 'banana')

### Remove in the tuple

In [17]:
x = ('apple','banana','cherry')

y = list(x)

y.remove("cherry")

x = tuple(y)

print(x)

('apple', 'banana')

### Combine two tuple

In [9]:
x = ("apple","banana","cherry")

y = (1,2,3)

z = x + y

print(z)

('apple', 'banana', 'cherry', 1, 2, 3)

### Set

#### x = {"apple","orange","banana"}

1. set is collection of unique items enclosed in curly braces {}.

2. The items in a set have no defined order and can be of any type.

3. sets are mutable.

4. Duplicate is not allowed

### Duplicates will be ignored

In [7]:
x = {"apple","orange","banana"}

print(x)

{'orange', 'apple', 'banana'}

### Add in the set

In [8]:
x = {"apple","orange","banana"}

x.add("kiwi")

print(x)

{'orange', 'apple', 'banana', 'kiwi'}

### Update in the set

In [15]:
x = {"apple","orange","banana"}

y = {"kiwi","mango"}

x.update(y)

print(x)

{'banana', 'orange', 'apple', 'kiwi', 'mango'}

### Remove in the set

In [24]:
x = {"apple","orange","banana"}

x.remove("orange")

print(x)

{'banana', 'apple'}

### Difference in the set

In [25]:
x = {1,2,3,4,5,6}

y = {5,6,7,8,9,10}

print(x.difference(y))

{1, 2, 3, 4}

### Difference in the set

In [16]:
x = {1,2,3,4,5,6}

y = {5,6,7,8,9,10}

print(y.difference(x))

{8, 9, 10, 7}

## Symmetric Difference

In [27]:
x = {1,2,3,4,5,6}

y = {5,6,7,8,9,10}

print(x.symmetric_difference(y))

{1, 2, 3, 4, 7, 8, 9, 10}

## Intersection

In [17]:
x = {1,2,3,4,5,6}

y = {5,6,7,8,9,10}

print(x.intersection(y))

{5, 6}

## Dictionary

1. Dictionary is a collection of key - value pairs enclosed in curly braces { }

2. Dictionaries are also mutable 

3. key-value pairs can be added,removed or modified after they are created 

4. Duplicates are not allowed.

In [19]:
dict = {
        "name" : "bharani",
        "age" : 28,
        "country" : "India"
        }

print(dict)

{'name': 'bharani', 'age': 28, 'country': 'India'}

## Duplicates are overwritted

In [20]:
dict = {
            "name" : "Poorni",
            "age" : 25,
            "Country" : "India",
            "age" : 28
       }
print(dict)

{'name': 'Poorni', 'age': 28, 'Country': 'India'}

## All Datatypes are valid in dictionary

1. Keys are immutable
2. values can be any of the data type

In [25]:
dict = {
            "brand" : "Lenova",
            "RAM" : "4GB",
            "processor" : "Core i3 10th GEN",
            "year" : 2022,
            "color" : ['black','white'],
            "os" : ('windows',"linux",'mac'),
            "FreeMouse" : False
        }

print(dict)

{'brand': 'Lenova', 'RAM': '4GB', 'processor': 'Core i3 10th GEN', 'year': 2022, 'color': ['black', 'white'], 'os': ('windows', 'linux', 'mac'), 'FreeMouse': False}

## Accessing the Dictionary

In [30]:
dict = {
            "product_name" : "necklace",
            "product_id" : "GHt6789",
            "amount" : 4500,
            "type" : ["Gold","silver"]
       }

print(dict["type"])

res = dict.get("product_name")

print(res)

['Gold', 'silver']
necklace

### keys() method

In [32]:
keys = dict.keys()

print(keys)

dict_keys(['product_name', 'product_id', 'amount', 'type'])

### values() method

In [33]:
values = dict.values()

print(values)

dict_values(['necklace', 'GHt6789', 4500, ['Gold', 'silver']])

### items() method

In [34]:
item = dict.items()

print(item)

dict_items([('product_name', 'necklace'), ('product_id', 'GHt6789'), ('amount', 4500), ('type', ['Gold', 'silver'])])

## Changing values

In [36]:
dict = {
            "fruit_name" : "watermelon",
            "season" : "summer",
            "price" : 80
       }

dict["price"] = 100

print(dict["price"])

100

## update() method

In [39]:
dict = {
            "food_name" : "briyani",
            "shop_name" : "12'o clk briyani",
            "price" : 200
       }
dict.update({"shop_name" : "sultan_shop"})

print(dict["shop_name"])

sultan_shop

## pop() method

In [40]:
dict = {
            "tourist_place" : "ooty",
            "spot" : "boat house",
            "entry-fees" : 500,
            "members" : 4
       }
dict.pop("members")

print(dict)

{'tourist_place': 'ooty', 'spot': 'boat house', 'entry-fees': 500}

## Nested Dictionary

In [41]:
company = {
            "employee1" : 
                        {
                            "name" : "karthi",
                            "age" : 38
                        },
            "employee2" :
                        {
                            "name" : "praveen",
                            "age" : 24
                        },
            "employee3" : 
                        {
                            "name" : "aravind",
                            "age" : 27
                        }
}

print(company)

{'employee1': {'name': 'karthi', 'age': 38}, 'employee2': {'name': 'praveen', 'age': 24}, 'employee3': {'name': 'aravind', 'age': 27}}